<!-- Template for / (Index) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JasonDrive</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container" style="text-align: center">
      <div style="display: inline-block; margin-top: 20px">
        <div style="display: inline-block">
          <h1>JasonDrive</h1>
        </div>
        <div style="display: inline-block; margin-left: 20px">
            <button id="logout"><a href="/logout">Sign out</a></button>
        </div>


      </div>
    </div>
    <div id="reactEntry">
      Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
